@import "./variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    font-size: 1.2rem;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    background: linear-gradient(180deg, #B068E9 0%, #6463E7 100%);
    background-repeat: no-repeat;
}

h1 {
    font-size: 3.2rem;
    line-height: 4rem;
    font-weight: 700;
    color: $darkBlue;
}